REMOTE_DRIVER=github
REMOTE_CONFIG=https://github.com?client_id={{ github_client_id }}&client_secret={{ github_client_secret }}&open={{ registration_open }}&orgs={{ limit_to_organisation }}
PUBLIC_MODE=true
GIN_MODE=release
